[build]
  publish = "_site"
  command = "npx tinacms dev --no-server && git diff && npm run build"

  [build.environment]
    NODE_VERSION = "lts/*"

# Fix changes from how dates were once written.
[[redirects]]
  from = "/2020/7/traffic-fatality-surge-reckless-driving/"
  to = "/2020/08/traffic-fatality-surge-reckless-driving/"

[[redirects]]
  from = "/2020/7/*"
  to = "/2020/07/:splat"

[[redirects]]
  from = "/2020/8/*"
  to = "/2020/08/:splat"

[[redirects]]
  from = "/2020/9/*"
  to = "/2020/09/:splat"

[[redirects]]
  from = '/api/*'
  to = '/.netlify/functions/api/:splat'
  status = 200

# Bridgy stuff (experimental) https://fed.brid.gy/docs#fediverse-enhanced
[[redirects]]
  from = "/.well-known/host-meta*"
  to = "https://fed.brid.gy/.well-known/host-meta:splat"
  status = 302
[[redirects]]
  from = "/.well-known/webfinger*"
  to = "https://fed.brid.gy/.well-known/webfinger"
  status = 302
  
