[build]
  publish = "_site"
  command = "npm run build"

  [build.environment]
    NODE_VERSION = "18"

# Fix changes from how dates were once written.
[[redirects]]
  from = "/2020/7/traffic-fatality-surge-reckless-driving/"
  to = "/2020/08/traffic-fatality-surge-reckless-driving/"

[[redirects]]
  from = "/2020/7/*"
  to = "/2020/07/:splat"

[[redirects]]
  from = "/2020/8/*"
  to = "/2020/08/:splat"

[[redirects]]
  from = "/2020/9/*"
  to = "/2020/09/:splat"
