.body {
  margin-bottom: 0;
}

.keepReading {
  text-align: right;
  font-size: var(--font-size-md);
  font-family: var(--font-ui);
}

.archiveLink {
  font-family: var(--font-ui);
  font-size: var(--font-size-lg);
  text-align: center;
}

.separator {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-secondary);
  margin: 2em auto;
  opacity: 0.5;
}

