@import "normalize.css";
@import "@fontsource/source-sans-pro/400.css";
@import "@fontsource/source-sans-pro/700.css";
@import "@fontsource/source-sans-pro/400-italic.css";
@import "@fontsource/source-sans-pro/700-italic.css";
@import "@fontsource/source-serif-pro/400.css";
@import "@fontsource/source-serif-pro/700.css";
@import "./assets/style-global-data.css";

/*******************************************************************************
 * Global Elements
 ******************************************************************************/
html {
  font-size: var(--font-base-size);
  line-height: 1.35;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-background);
}

body,
textarea,
input[type="text"],
input[type="email"] {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans-serif);
}

textarea,
input[type="text"],
input[type="email"] {
  border: 1px solid var(--color-primary);
}

input[type="text"],
input[type="email"],
input {
  font-family: var(--font-ui);
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-md);
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--font-serif);
  font-weight: var(--font-weight-normal);
  hyphens: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover,
a:active,
a:focus {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-left: 1em;
}

img,
iframe {
  max-width: 100%;
}

li {
  /* This fixes small tap target problems for links in list items. */
  margin: 0.5em 0;
}

/*******************************************************************************
 * Global formatting
 ******************************************************************************/

.small-screen-padding {
  margin: 0 1em;
}

.full-bleed {
  margin: 0 -1em;
  width: 100vw;
}

/*******************************************************************************
 * Typography
 ******************************************************************************/

.ui-font {
  font-family: var(--font-ui);
}

.serif {
  font-family: var(--font-serif);
}

.sans-serif {
  font-family: var(--font-sans-serif);
}

.icon {
  color: currentColor;
  height: 1em;
  vertical-align: middle;
}

.font-size-medium {
  font-size: var(--font-size-md);
}

.font-size-xlarge {
  font-size: var(--font-size-xl);
}

.font-size-small {
  font-size: var(--font-size-sm);
}

/*******************************************************************************
 * Colors
 ******************************************************************************/

.active-page {
  border-bottom-color: var(--color-secondary-light);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary-light);
}

/*******************************************************************************
 * Global layout
 ******************************************************************************/

.page {
  width: 100%;
}

.header__logo {
  padding: 0.5em 1em 0 1em;
}

.header__title {
  font-size: var(--font-size-xl);
  margin: 0;
}

.header__title-link {
  display: block;
  line-height: 0;
}

.header__title-link:hover,
.header__title-link:active,
.header__title-link:focus {
  text-decoration: none;
}

.header__title-logo {
  height: 96px;
  width: 192px;
  display: block;
}

.header__description {
  max-width: 375px;
  font-family: var(--font-serif);
  font-size: var(--font-size-xs);
  color: var(--color-primary-dark);
  margin: 0;
  text-align: right;
}

.menu__link:hover,
.menu__link:active,
.menu__link:focus {
  text-decoration: none;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 4px 0;
  justify-content: center;
  border-top: 1px solid var(--color-secondary-light);
  border-bottom: 1px solid var(--color-secondary-light);
}

.menu__item {
  display: flex;
  align-items: center;
  padding-left: 1em;
  min-height: 48px;
  min-width: 48px;
  margin: 0;
}

.menu__item:first-child {
  padding-left: 0;
}

.footer__wrapper {
  font-family: var(--font-ui);
  background-color: var(--color-primary-dark);
  margin-top: 1em;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    /* Make the footer extend off the screen with this one weird trick. */ 0
      50vh 0 50vh var(--color-primary-dark);
}

.footer {
  color: var(--color-background);
  font-size: var(--font-size-sm);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer a {
  color: var(--color-primary-light);
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--color-secondary-light);
}

.footer .h-card {
  flex-shrink: 0;
  text-align: center;
}

.footer__avatar {
  border-radius: 50%;
}

.separator {
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: var(--color-secondary-light);
  margin: 2em auto;
}

.skip-nav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.skip-nav:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: var(--color-background);
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

/*******************************************************************************
 * Entry
 ******************************************************************************/

.entry__article blockquote {
  border-left: solid 4px var(--color-secondary-light);
  margin: 1em 0;
  padding: 0 1em;
}

.entry__body {
  color: var(--color-text);
}

.entry__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: var(--font-ui);
}

.entry__header-link {
  color: var(--color-text);
}

.entry__title {
  font-size: var(--font-size-xl);
  text-transform: none;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.2;
  flex-basis: 100%;
}

.entry__author-by {
  font-size: var(--font-size-sm);
}

.entry__author,
.entry__date {
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}

.entry__footer {
  font-family: var(--font-ui);
  font-size: var(--font-size-md);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.entry__link {
  text-align: right;
  text-transform: uppercase;
}

.entry__hero-image {
  height: 50vw;
}

.entry__caption {
  font-family: var(--font-ui);
  font-size: var(--font-size-xs);
  margin-left: 0.25em;
  color: var(--color-gray);
}

.entry__draft {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-secondary-light);
}

/*******************************************************************************
 * Subscribe component
 ******************************************************************************/

.subscribe__heading {
  text-align: center;
  color: var(--color-primary-dark);
}

/*******************************************************************************
 * Media queries
 ******************************************************************************/

@media (prefers-color-scheme: dark) {
  .footer__wrapper {
    background-color: var(--color-primary-light);
    box-shadow: 0 -4px 4px 0 rgba(255, 255, 255, 0.125),
      /* Make the footer extend off the screen with this one weird trick. */ 0
        50vh 0 50vh var(--color-primary-light);
  }

  .footer {
    color: var(--color-text);
  }

  .footer a {
    color: var(--color-primary-dark);
  }
}

@media screen and (--phone-only) {
  html {
    font-size: var(--font-base-size-mobile);
  }

  .entry__body p > img:only-child,
  .entry__body iframe {
    /* full bleed */
    margin: 0 -1em;
    width: 100vw;
    max-width: 100vw;
  }
}

@media screen and (--tablet-portrait-up) {
  .small-screen-padding,
  .full-bleed {
    margin: 0;
  }

  .full-bleed {
    margin-left: calc(-100vw / 2 + 600px / 2);
    margin-right: calc(-100vw / 2 + 600px / 2);
  }

  .header__wrapper {
    max-width: var(--width-site);
    margin: auto;
  }

  .content,
  .footer {
    width: var(--width-content);
    margin: auto;
  }

  .subscribe__list {
    display: flex;
    justify-content: center;
    width: var(--width-content);
    margin: auto;
  }

  .footer {
    flex-wrap: nowrap;
  }

  .footer__item {
    margin-right: 2em;
  }

  .footer__item:last-child {
    margin-right: 0;
  }
}

@media screen and (--tablet-landscape-up) {
  .full-bleed {
    width: 900px;
    margin-left: -150px;
  }

  .entry__hero-image {
    width: 900px;
    height: 450px;
  }
}
