/**
 * Keep these in a separate file for PostCSS global data.
 * They need to be imported into the main stylesheet, but only referenced in
 * other stylesheets.
 */

:root {
  /**
   * Typography
   */
  --font-sans-serif: "source sans 3 variable", "helvetica neue", sans-serif;
  --font-serif: "source serif 4 variable", "charter", serif;
  --font-ui: "source sans 3 variable", -apple-system, blinkmacsystemfont,
    "segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue",
    sans-serif;
  --font-pre: "courier 10 pitch", courier, monospace;
  --font-base-size: 18px;
  --font-base-size-mobile: 16px;
  --font-size-xs: calc(1em / 1.25);
  --font-size-sm: calc(1em / 1.125);
  --font-size-md: calc(1em * 1);
  --font-size-lg: calc(1em * 1.5);
  --font-size-xl: calc(1em * 1.75);
  --letter-spacing-allcaps: 0.06em;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /**
   * Layout
   */
  --width-site: 900px;
  --width-content: 600px;

  /**
   * Colors
   */
  --color-background: #fff;
  --color-text: #000;
  --color-gray: #636363;
  --color-primary: #007b7d;
  --color-primary-light: #14c6c9;
  --color-primary-dark: #004547;
  --color-secondary-dark: #7d3000;
  --color-secondary-light: #c94e00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #161616;
    --color-text: #e7e7e7;
    --color-gray: #a2a2a2;
    --color-primary: #54b7ba;
    --color-primary-light: #003e40; /* actually darker */
    --color-primary-dark: #b3fcff; /* actually lighter */
    --color-secondary-dark: #8a5b3e;
    --color-secondary-light: #b57851;
  }
}

/**
 * https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
 */
@custom-media --phone-only (max-width: 600px);
@custom-media --tablet-portrait-up (min-width: 600px);
@custom-media --tablet-landscape-up (min-width: 900px);
@custom-media --desktop-up (min-width: 1200px);
@custom-media --desktop-big-up (min-width: 1800px);
