.form {
  font-family: var(--font-ui);
}

.inputWrapper {
  margin-bottom: 1em;
}

.labelWrapper {
  display: flex;
  font-size: var(--font-size-sm);
  opacity: 0.9;
}

.label {
  margin-right: 1em;
}

.error {
  color: var(--color-secondary);
}

.input {
  font-family: var(--font-ui);
}

.message {
  font-family: var(--font-ui);
}
