.article blockquote {
  border-left: solid 2px var(--color-secondary);
  margin: 1em 0;
  padding: 0 2em;
  background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24" height="64" width="64"><text x="0" y="18" fill="rgba(0, 0, 0, 0.25)" style="font-size:24px">%E2%80%9F</text></svg>');
}

.body {
  color: var(--color-text);
  font-family: var(--font-serif);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: var(--font-ui);
}

.headerLink {
  color: var(--color-text);
}

.title {
  text-transform: uppercase;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-xl);
  margin: 0.5em 0 0.5em 0;
  line-height: 1.25;
  flex-basis: 100%;
}

.date {
  font-size: var(--font-size-sm);
  color: var(--color-primary-dark);
  opacity: 0.8;
}

.link {
  text-align: right;
  font-family: var(--font-ui);
  font-size: var(--font-size-md);
  text-transform: uppercase;
}

.caption {
  font-family: var(--font-ui);
  font-size: var(--font-size-xs);
  margin-left: 0.25em;
  opacity: 0.75;
}
