.page {
  width: 100%;
}

.headerWrapper {

  /* To go behind the border on the menu links */
  padding-bottom: 2px;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.25);
}

.title {
  font-size: var(--font-size-xxl);
  margin: 0;
}

.titleLink:hover,
.titleLink:active,
.titleLink:focus {
  text-decoration: none;
}

.description {
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-sm);
  color: var(--color-primary-dark);
  font-style: italic;
  margin: 0.25em 0;
}

.menuLink:hover,
.menuLink:active,
.menuLink:focus {
  text-decoration: none;
}

.menuList {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: center;
}

.menuItem {
  display: flex;
  align-items: center;
  padding-left: 1em;
  min-height: 48px;
  min-width: 48px;
}

.menuItem a {
  padding-bottom: 0.25em;
}

.menuItem:first-child {
  padding-left: 0;
}

.footerWrapper {
  font-family: var(--font-ui);
  background-color: var(--color-primary-dark);
  margin-top: 1em;
  box-shadow:
    0 -4px 4px 0 rgba(0, 0, 0, 0.25),
    /* Make the footer extend off the screen with this one weird trick. */
    0 50vh 0 50vh var(--color-primary-dark);
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-primary-light);
  font-size: var(--font-size-sm);
}

.footer > * {
  margin-left: 1em;
}

.footer > *:first-child {
  margin-left: 0;
}

.footer a {
  color: var(--color-primary-light);
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {

  .headerWrapper {
    box-shadow: 0 8px 4px -4px rgba(255, 255, 255, 0.125);
  }

  .footerWrapper {
    background-color: var(--color-primary-light);
    box-shadow:
      0 -4px 4px 0 rgba(255, 255, 255, 0.125),
      /* Make the footer extend off the screen with this one weird trick. */
      0 50vh 0 50vh var(--color-primary-light);
  }

  .footer {
    color: var(--color-primary-dark);
  }

  .footer a {
    color: var(--color-primary-dark);
  }
}

@media screen and (min-width: 600px) {

  .headerWrapper {
    max-width: var(--width-site);
    margin: auto;
  }

  .content,
  .footer,
  .header {
    width: var(--width-content);
    margin: auto;
  }
}
