.page {
  width: 100%;
}

.headerWrapper {
  margin-bottom: 1em;
  /* To go behind the border on the menu links */
  padding-bottom: 2px;
  box-shadow: 0px 8px 4px -4px rgba(0,0,0,0.25);
}

.title {
  font-size: var(--font-size-xxl);
  margin: 0;
}

.titleLink:hover,
.titleLink:active,
.titleLink:focus {
  text-decoration: none;
}

.description {
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-sm);
  color: var(--color-primary-dark);
  font-style: italic;
  margin: 0.25em 0;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
  text-decoration: none;
  border-bottom: 2px solid var(--color-secondary);
}

.menuList {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: center;
}
.menuItem {
  padding-left: 1em;
}

.menuItem a {
  padding-bottom: 0.25em;
}

.menuItem:first-child {
  padding-left: 0;
}

.footerWrapper {
  font-family: var(--font-ui);
  background-color: var(--color-primary-dark);
  margin-top: 1em;
  box-shadow:
    0px -4px 4px 0px rgba(0,0,0,0.25),
    /* Make the footer extend off the screen with this one weird trick. */
    0 50vh 0 50vh var(--color-primary-dark);
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-primary-light);
  font-size: var(--font-size-sm);
}

.footer > * {
  margin-left: 1em;
}

.footer > *:first-child {
  margin-left: 0;
}

.footer a {
  color: var(--color-primary-light);
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: var(--color-secondary);
}

@media screen and (min-width: 600px) {
  .headerWrapper {
    max-width: var(--width-site);
    margin: auto;
  }

  .content,
  .footer,
  .header {
    width: var(--width-content);
    margin: auto;
  }
}
